

/* Larger than mobile */
@media only screen and (min-width: 200px) {
    .edu{
        height: 5000px;
        padding-top: 4%;
        padding-bottom: 3%;
        margin-top: 4px;
    }
    .skills{
         margin-top: 200px;
        height: 700px;

    }.experience{

         }
    .aboutme{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    #talks{
        margin-bottom: 5%;
    }
    .shades{
        height: 900px;
    }
    .shades .contact{
        background-color: purple;

    }
}

/* Larger than phablet (also point when grid becomes active) */
@media only screen and (min-width: 1200px) {
}

/* Larger than tablet */
@media (max-width: 450px) {
    .edu{
        height: auto;
    }
}

.header1{
     background-image: url("ideas.jpeg");
     background-attachment: fixed;
     background-repeat: no-repeat;
    color: white;
    height: 600px;
    padding-top: 4%;
}
#landingword{
    padding: 5%;
}
.firstslide{
    background-image: url("web dev office.jpeg");
    background-size: 500px;
}
.secslide{
    background-image: url("ideas.jpeg");
    background-size: cover;
}
#home, #about, #service, #contact, #gallery {

    border: none;
    margin-inside: 3%;
    color: white;
    background-color: transparent;
    border-bottom: 1px solid white;


}
.aboutme{
    padding: 3%;
    color: black;
    background-color: white;
    height: 600px;
    margin-top: 3%;
}
.aboutme h1{
    text-align: center;
    border-bottom: 1px solid black;
}
#image{
    padding-top: 3%;


}
#talks{
    padding: 3%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

}

#myname{
    padding-top: 5%;
}


.skills{

   padding: 3%;
    background-color:black;

    color: white;
    background-size: contain;

}
#aboutme{

}


#viewans1,#viewans2,#viewans3,#viewans4{
    padding: 2%;
    background-color: white;
    color: black;
    font-size: small;
    display: none;
}
.edu{
    background-image: url("eduapple.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    padding: 2%;
    height: 900px;



}
.shades{
    background-image: url("ecentric mic.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 5%;
    color: white;
    background-size: cover;
    height: 1000px;

}
.experience{
    background-color: whitesmoke;
    height: 800px;
    color: black;
    padding-top:5% ;
}
.contact{
    color: black;
}
#submitb{
    color: white;
}
#uni{
    background-color: white;
    color: black;
    padding: 2%;


}
#high{
    background-color: white;
    color: black;
    padding: 2%;

}
#design{
    margin-top: 2%;
     background-color: white;;
     color: black;
    padding: 2%;

 }
#add{

    background-color: white;;
    color: black;
    padding: 2%;
    margin-top: 15px;

}
a :hover{
    color: white;
}
a:active{
    color: white;
}
a:visited {
    color: white;
}
#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

}