


.header1{
     background-image: url("ideas.jpeg");
     background-attachment: fixed;
     background-repeat: no-repeat;
    color: white;
    height: 600px;
    padding-top: 4%;
}
#landingword{
    padding: 5%;
}
.firstslide{
    background-image: url("web dev office.jpeg");
    background-size: 500px;
}
.secslide{
    background-image: url("ideas.jpeg");
    background-size: cover;
}
#home, #about, #service, #contact, #gallery {

    border: none;
    margin-inside: 3%;
    color: white;
    background-color: transparent;
    border-bottom: 1px solid white;


}
.aboutme{
    padding: 3%;
    color: black;
    background-color: white;
    height: 500px;
    margin-top: 3%;
}
.aboutme h1{
    text-align: center;
    border-bottom: 1px solid black;
}
#image{
    padding-top: 3%;


}
#talks{
    padding: 3%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    margin-bottom: 5%;
}

#myname{
    padding-top: 5%;
}


.skills{

   padding: 3%;
    background-color:black;

    color: white;
    background-size: cover;

}
#aboutme{

    text-align: center;
}


#viewans1,#viewans2,#viewans3,#viewans4{
    padding: 2%;
    background-color: white;
    color: black;
    font-size: small;
    display: none;
}
.edu{
    background-color: lightslategray;
    color: black;
    padding: 2%;
    height: 600px;



}
.shades{
    padding: 5px;
}
#uni{
    background-color: white;
    color: black;
    padding: 2%;

}
#high{
    background-color: white;
    color: black;
    padding: 2%;
}
#design{
    margin-top: 2%;
     background-color: white;;
     color: black;
     padding: 2%;

 }
#add{

    background-color: white;;
    color: black;
    padding: 2%;

}
a :hover{
    color: white;
}
a:active{
    color: white;
}
a:visited{
    color: white;
}



/* Larger than mobile */
@media only screen and (max-width: 411px) {
    .edu{
        height: 600px;
        padding-top: 4%;
        padding-bottom: 3%;
        margin-top: 4px;
    }
    .skills{
        padding-bottom: 5%;
        height: 1000px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 500px) {
    .skills{
        height: 600px;
        margin-top: 10px;
    }
    .aboutme{
        margin-bottom: 10px;
    }

     .skills{
         height: 1000px;
         margin-bottom: 8%;
     }
     .edu{
         height: 700px;
         margin-top: 30px;
     }

}

/* Larger than tablet */
@media (max-width: 450px) {
    .edu{
        height: auto;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

}